In [ ]:
import pandas as pd

train = pd.read_csv("./data/train.csv", parse_dates=["datetime"])

print(train.shape)
train.head()

In [ ]:
test = pd.read_csv("./data/test.csv", parse_dates=["datetime"])

print(test.shape)
test.head()

In [ ]:
def datetime_prepro(data):    
    data["datetime-year"] = data["datetime"].dt.year
    data["datetime-month"] = data["datetime"].dt.month
    data["datetime-day"] = data["datetime"].dt.day
    data["datetime-hour"] = data["datetime"].dt.hour
    data["datetime-minute"] = data["datetime"].dt.minute
    data["datetime-second"] = data["datetime"].dt.second

    data["datetime-dayofweek"] = data["datetime"].dt.dayofweek
    
datetime_prepro(train)

print(train.shape)

In [ ]:
datetime_prepro(test)

print(test.shape)

In [ ]:
test.head(20)

In [ ]:
train[["datetime", "datetime-year", "datetime-month", "datetime-day", "datetime-hour", "datetime-minute", "datetime-second", "datetime-dayofweek"]].head()

In [ ]:
train.loc[train["datetime-dayofweek"] == 0, "datetime-dayofweek(humanized)"] = "Monday"
train.loc[train["datetime-dayofweek"] == 1, "datetime-dayofweek(humanized)"] = "Tuesday"
train.loc[train["datetime-dayofweek"] == 2, "datetime-dayofweek(humanized)"] = "Wednesday"
train.loc[train["datetime-dayofweek"] == 3, "datetime-dayofweek(humanized)"] = "Thursday"
train.loc[train["datetime-dayofweek"] == 4, "datetime-dayofweek(humanized)"] = "Friday"
train.loc[train["datetime-dayofweek"] == 5, "datetime-dayofweek(humanized)"] = "Saturday"
train.loc[train["datetime-dayofweek"] == 6, "datetime-dayofweek(humanized)"] = "Sunday"

In [ ]:
print(train.shape)

train[["datetime", "datetime-dayofweek", "datetime-dayofweek(humanized)"]].head(100)

In [ ]:
test.loc[test["datetime-dayofweek"] == 0, "datetime-dayofweek(humanized)"] = "Monday"
test.loc[test["datetime-dayofweek"] == 1, "datetime-dayofweek(humanized)"] = "Tuesday"
test.loc[test["datetime-dayofweek"] == 2, "datetime-dayofweek(humanized)"] = "Wednesday"
test.loc[test["datetime-dayofweek"] == 3, "datetime-dayofweek(humanized)"] = "Thursday"
test.loc[test["datetime-dayofweek"] == 4, "datetime-dayofweek(humanized)"] = "Friday"
test.loc[test["datetime-dayofweek"] == 5, "datetime-dayofweek(humanized)"] = "Saturday"
test.loc[test["datetime-dayofweek"] == 6, "datetime-dayofweek(humanized)"] = "Sunday"

print(test.shape)

test[["datetime", "datetime-dayofweek", "datetime-dayofweek(humanized)"]].head(100)

In [ ]:
%matplotlib inline

import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
figure, ((ax1, ax2, ax3), (ax4, ax5, ax6)) = plt.subplots(nrows=2, ncols=3)

figure.set_size_inches(18, 8)

sns.barplot(data=train, x="datetime-year", y="count", ax=ax1)
sns.barplot(data=train, x="datetime-month", y="count", ax=ax2)
sns.barplot(data=train, x="datetime-day", y="count", ax=ax3)
sns.barplot(data=train, x="datetime-hour", y="count", ax=ax4)
sns.barplot(data=train, x="datetime-minute", y="count", ax=ax5)
sns.barplot(data=train, x="datetime-second", y="count", ax=ax6)

In [ ]:
train["datetime-year(str)"] = train['datetime-year'].astype('str')
train["datetime-month(str)"] = train['datetime-month'].astype('str')
train["datetime-year_month"] = train["datetime-year(str)"] + "-" + train["datetime-month(str)"]

print(train.shape)

train[["datetime", "datetime-year_month"]].head()

In [ ]:
figure, (ax1, ax2) = plt.subplots(nrows=1, ncols=2)

figure.set_size_inches(18, 4)

sns.barplot(data=train, x="datetime-year", y="count", ax=ax1)
sns.barplot(data=train, x="datetime-month", y="count", ax=ax2)

figure, ax3 = plt.subplots(nrows=1, ncols=1)

figure.set_size_inches(18, 4)

sns.barplot(data=train, x="datetime-year_month", y="count", ax= ax3)

In [ ]:
print(train.columns)
train["workingday"].head(100)

In [ ]:
figure, (ax1, ax2, ax3) = plt.subplots(nrows=3, ncols=1)

figure.set_size_inches(18, 12)

sns.pointplot(data=train, x="datetime-hour", y="count", ax=ax1)
sns.pointplot(data=train, x="datetime-hour", y="count", hue="workingday", ax=ax2)
sns.pointplot(data=train, x="datetime-hour", y="count", hue="datetime-dayofweek(humanized)", ax=ax3)

In [ ]:
feature_names = ["season", "holiday", "workingday", "weather",
                 "temp", "atemp", "humidity", "windspeed",
                 "datetime-year", "datetime-hour", "datetime-dayofweek"]
feature_names

In [45]:
label_name = "count"
label_name

'count'

In [46]:
X_train = train[feature_names]
print(X_train.shape)

X_train.head()

(10886, 11)

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,datetime-year,datetime-hour,datetime-dayofweek
0,1,0,0,1,9.84,14.395,81,0.0,2011,0,5
1,1,0,0,1,9.02,13.635,80,0.0,2011,1,5
2,1,0,0,1,9.02,13.635,80,0.0,2011,2,5
3,1,0,0,1,9.84,14.395,75,0.0,2011,3,5
4,1,0,0,1,9.84,14.395,75,0.0,2011,4,5

In [49]:
X_test = test[feature_names]
print(X_test.shape)

X_test.head()

(6493, 11)

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,datetime-year,datetime-hour,datetime-dayofweek
0,1,0,1,1,10.66,11.365,56,26.0027,2011,0,3
1,1,0,1,1,10.66,13.635,56,0.0000,2011,1,3
2,1,0,1,1,10.66,13.635,56,0.0000,2011,2,3
3,1,0,1,1,10.66,12.880,56,11.0014,2011,3,3
4,1,0,1,1,10.66,12.880,56,11.0014,2011,4,3

In [50]:
y_train = train[label_name]

print(y_train.shape)
y_train.head()

(10886,)

0    16
1    40
2    32
3    13
4     1
Name: count, dtype: int64

In [53]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(n_jobs=-1,
                              random_state=37)
model

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=-1,
           oob_score=False, random_state=37, verbose=0, warm_start=False)

In [56]:
import numpy as np

from sklearn.metrics import make_scorer

def rmsle(predict, actual):
    predict = np.array(predict)
    actural = np.array(actual)
    
    log_predict = np.log(predict +1)
    log_actual = np.log(actual +1)
    
    distance = log_predict - log_actual
    square_distance = distance ** 2
    mean_square_distance = square_distance.mean()
    
    score = np.sqrt(mean_square_distance)
    
    return score

rmsle_score = make_scorer(rmsle)
rmsle_score

make_scorer(rmsle)

In [58]:
from sklearn.model_selection import cross_val_score

score = cross_val_score(model, X_train, y_train,
                        cv=20, scoring=rmsle_score).mean()

print("Score = {0:.5f}".format(score))

Score = 0.37926

In [59]:
model.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=-1,
           oob_score=False, random_state=37, verbose=0, warm_start=False)

In [60]:
predictions = model.predict(X_test)

print(predictions.shape)
predictions

(6493,)

array([ 10. ,   4. ,   3.8, ..., 112.7,  91.4,  46.5])

In [61]:
submission = pd.read_csv("./data/sampleSubmission.csv")
print(submission.shape)

submission.head()

(6493, 2)

              datetime  count
0  2011-01-20 00:00:00      0
1  2011-01-20 01:00:00      0
2  2011-01-20 02:00:00      0
3  2011-01-20 03:00:00      0
4  2011-01-20 04:00:00      0

In [62]:
submission["count"] = predictions
print(submission.shape)

submission.head()

(6493, 2)

              datetime  count
0  2011-01-20 00:00:00   10.0
1  2011-01-20 01:00:00    4.0
2  2011-01-20 02:00:00    3.8
3  2011-01-20 03:00:00    3.4
4  2011-01-20 04:00:00    2.6

In [63]:
submission.to_csv("./data/random-forest.csv", index=False)

In [64]:
submit = pd.read_csv("./data/random-forest.csv")

print(submit.shape)

submission.head()

(6493, 2)

              datetime  count
0  2011-01-20 00:00:00   10.0
1  2011-01-20 01:00:00    4.0
2  2011-01-20 02:00:00    3.8
3  2011-01-20 03:00:00    3.4
4  2011-01-20 04:00:00    2.6